@use '../custom'as *;
@use "../components/mixins"as *;



.footer {
    padding-top: 1rem;
    background-color: $footer;

    .contact {
        padding: 0 2rem;


        @include media-breakpoint-only(lg) {
            padding-left: 4rem;
        }

        @include media-breakpoint-up(lg) {
            padding-left: 8rem;
        }
    }

}


// STYLE ETHE CONTACT BOX CONTENT
.contact-box {
    position: relative;

    &__icon {
        width: 2rem;
        stroke: $secondary;
        padding-bottom: 1rem;



        @include media-breakpoint-up(sm) {
            width: 4rem;
        }

    }

    &__info {

        padding: 0 0.4rem;
        font-weight: 600;

        &--title {
            color: $white;
            text-decoration: none;
            font-size: 0.9rem;


            @include media-breakpoint-up(sm) {
                font-size: 1.2rem;
            }

        }

        &--subtitle {
            color: $gray-600;
            text-decoration: none;
            font-size: 0.9rem;

            @include media-breakpoint-up(sm) {
                font-size: 1rem;
            }

        }
    }
}


// STYLE THE SOCIAL MEDIA CONTENT

a {
    color: $white;

    i {
        font-size: 1rem;
        margin-left: 1rem;


    }
}


//  STYLE THE COMPANY INFO CONTENT
.company-list {
    display: block;
    list-style-type: none;
    position: relative;

    li {
        margin-bottom: 0.5rem;
        text-decoration: none;

        a {
            color: $white;
            text-decoration: none;

            &:hover {
                color: $secondary;
            }
        }
    }
}


// STYLE THE COPYRIGHT
.copyright {
    color: $gray-600;
    font-weight: 400;

    a {
        color: $gray-300;
        text-decoration: none;

        &:hover {
            color: $secondary;
            text-decoration: underline;
        }
    }

}

// style the back to top button
.back-to-top {
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 9999;

    i {
        color: $white;
        font-size: 1.5rem;
        position: absolute;
        right: 21%;
        top: 21%;


    }
}