@use'../custom' as *;
@use'../components/mixins' as *;


.btn-rounded {

//SERVICES BUTTON
    &.btn-services {
        color: $primary;
        border-color: $primary;
        display: flex;

        span {
            background-color: $primary;
            
            i{
                color: $white;
    
            }

        }
    }
    //SERVICES BUTTON END

    @include media-breakpoint-down(sm){
        display: inline-block;
    }
    


    position: relative;
    padding: 0.9375rem 4.375rem 0.9375rem 1.25rem;
    font-weight: 600;
    margin: 0;
    border: 0.14rem solid rgba($white, 0.6);
    background-color: transparent;
    color: $white;

    @media (max-width: 1032px){
        font-weight: 600;
        padding: 0.744rem 2.5rem 0.744rem 1rem;
    }

    span {
        position: absolute;
        background-color: $white;
        width: 2.5rem;
        height: 2.5rem;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        border-radius: 50%;

        @media (max-width: 1032px){
            width: 1.5rem;
            height: 1.5rem;
        }

        i{
            color: $primary;
            font-size: 1rem;
            line-height: 2.5rem;

            @media (max-width: 1032px){
                font-size: 0.9rem;
                position: absolute;
                right: 22%;
                top: -32%;
            }

        }



    }

    &:hover {
        @include gradient;
        color: $white;

        span {
            background-color: rgba($white, 0.6);
        }
    }
}




//SIMPLE BUTTON
.contact-btn {

    &:hover {

        color: $primary;
        

        span {
            color: $white;
        }

        i {
        
            color:$primary;
            
        }
        
    }
}